<div class="screen-wraper">
    <h4 class="text-center" style="margin: 0">Save</h4>
    <div class="slot" style="<%= $selected == 1 ? "background-color: #8b9b8d" : "background-color: #b8c4b9" %>"><center style="margin-top: 13px"><%= @dates[0] %></cente></div>
    <div class="slot" style="<%= $selected == 2 ? "background-color: #8b9b8d" : "background-color: #b8c4b9" %>"><center style="margin-top: 13px"><%= @dates[1] %></center></div>
    <div class="slot" style="<%= $selected == 3 ? "background-color: #8b9b8d" : "background-color: #b8c4b9" %>"><center style="margin-top: 13px"><%= @dates[2] %></center></div>
    <p class="text-center" style="margin: 0 0 3px 0"><strong style="color: #7B2258">[A]</strong> Select<strong style="color: #6E747D">  [SELECT]</strong> Back</p>
</div>